HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/




############################################
##resume
src/main/resources/*
src/main/resources/application.properties
src/main/resources/data/*
src/main/resources/mapper/*
src/main/resources/static/*
src/main/resources/templates/*
src/main/resources/application.yml.bak
src/main/resources/application-dev.yaml
src/main/resources/application-dev.yaml.example
#src/main/resources/application-prodh2.yaml
#src/main/resources/application-prodgroom.yaml
#src/main/resources/application-prod.yaml
#src/main/resources/application-test.yaml

src/main/resources/config.yaml

##리드미#
readme.txt
chatlog/
_bak/
ums.zip